/bin
/obj
/.idea

/FinalProjectOOP/.idea
/FinalProjectOOP/Domain/bin
/FinalProjectOOP/Domain/obj
/FinalProjectOOP/Infrastructure/bin
/FinalProjectOOP/Infrastructure/obj
/FinalProjectOOP/Application/bin
/FinalProjectOOP/Application/obj
/FinalProjectOOP/Presentation/bin
/FinalProjectOOP/Presentation/obj